


/*===========================
    13.COUNTER css 
===========================*/




.counter-area{
	& .counter-item{
		border-radius: 8px;
		background-image: -moz-linear-gradient( 0deg, rgb(50,180,106) 0%, rgb(240,242,71) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb(50,180,106) 0%, rgb(240,242,71) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(50,180,106) 0%, rgb(240,242,71) 100%);
		padding-top: 44px;
		padding-bottom: 53px;
		position: relative;
		z-index: 10;
		&::before{
			position: absolute;
			content: '';
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			height: 193px;
			width: 193px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255,.3);
			z-index: -1;
		}
		& .title{
			font-size: 60px;
		}
		& > span{
			text-transform: uppercase;
			color: $heading-color;
			letter-spacing: 2px;
			display: block;
		}
		&.item-2{
			background-image: -moz-linear-gradient( 0deg, rgb(253,176,70) 0%, rgb(254,238,81) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(253,176,70) 0%, rgb(254,238,81) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(253,176,70) 0%, rgb(254,238,81) 100%);
		}
		&.item-3{
			background-image: -moz-linear-gradient( 0deg, rgb(255,72,214) 0%, rgb(254,216,83) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(255,72,214) 0%, rgb(254,216,83) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(255,72,214) 0%, rgb(254,216,83) 100%);
		}
		&.item-4{
			background-image: -moz-linear-gradient( 0deg, rgb(78,175,254) 0%, rgb(93,245,255) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(78,175,254) 0%, rgb(93,245,255) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(78,175,254) 0%, rgb(93,245,255) 100%);
		}
	}
}




.odometer-formatting-mark{
	display: none;
}



